body,
textarea {
  color: dimgrey;
  font-family: 'Scope One', serif;
  margin: 1em;
}

#app {
  width: 100%;
}

textarea {
  background: whitesmoke;
  border-width: 2px;
  border-color: black;
  border-radius: .6em;
  box-shadow: 0 0 0 3px yellowgreen, 0 2px 5px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  float: left;
  font-size: 1em;
  line-height: 1.9;
  margin-left: 10%;
  padding: 1.2em;
  resize: none;
  width: 35%;
}

#title {
  font-size: 3em;
  text-align: center;
}

#output {
  display: inline-block;
  margin-left: 5%;
  width: 35%;
}
